<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <!-- Здесь должны находиться объявления компонентов -->
    <bean id="duke" class="com.rstyle.maxmoto1702.springidol.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>
    <bean id="kenny" class="com.rstyle.maxmoto1702.springidol.Instrumentalist"
        p:song="Полет шмеля"
        p:instrument-ref="bassGuitar"/>
    <bean id="max" class="com.rstyle.maxmoto1702.springidol.Instrumentalist">
        <property name="song" value="Пилот"/>
        <property name="instrument">
            <bean class="com.rstyle.maxmoto1702.springidol.Guitar"/>
        </property>
    </bean>
    <bean id="hank" class="com.rstyle.maxmoto1702.springidol.OneManBand">
        <property name="instruments">
            <list>
                <ref bean="guitar"/>
                <ref bean="bassGuitar"/>
            </list>
        </property>
    </bean>
    <bean id="carl"
          class="com.rstyle.maxmoto1702.springidol.Instrumentalist">
        <property name="song" value="#{kenny.screamSong()?.toUpperCase()}" />
    </bean>
    
    <bean id="sonnet29" class="com.rstyle.maxmoto1702.springidol.Sonnet29"/>

    <bean id="stage" class="com.rstyle.maxmoto1702.springidol.Stage" factory-method="getInstance"/>

    <bean id="ticket" class="com.rstyle.maxmoto1702.springidol.Ticket" scope="prototype"/>
    
    <bean id="auditorium" class="com.rstyle.maxmoto1702.springidol.Auditorium" init-method="turnOnLights" destroy-method="turnOffLights"/>

    <bean id="guitar" class="com.rstyle.maxmoto1702.springidol.Guitar"/>
    <bean id="bassGuitar" class="com.rstyle.maxmoto1702.springidol.BassGuitar"/>
</beans>